* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

body {
	background-color: antiquewhite;
	color: rgb(85, 30, 8);
	font-family: 'Times New Roman', Times, serif;
}

.grid-layout {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto auto;
	width: 100%;
	background-color: antiquewhite;
}

.grid-nav {
	grid-column: 1 / 3;
	grid-row: 1 / 2;
}

.grid-section1 {
	grid-column: 1 / 3;
	grid-row: 1 / 3;
	margin: 100px 20px;
}

#carouselExample {
	grid-column: 1 / 3;
	grid-row: 3 / 4;
	background: antiquewhite;
}

.grid-art1 {
	grid-column: 1 / 3;
	grid-row: 1 / span 2;

}

.grid-art2 {
	grid-column: 1 / 3;
	grid-row: 2 / span 3;
}

.grid-art3 {
	grid-column: 1 / 3;
	grid-row: 3 / span 4;
}

nav {
	background: cadetblue;
	height: 140px;
	width: 100%;
	position: relative;
}

.enlace-navbar {
	position: absolute;
	padding: 20px 50px;
}

.logo-navbar {
	height: 100px;
	background: cadetblue;
}

nav ul {
	float: right;
	margin-right: 20px;
}

nav ul li {
	display: inline-block;
	line-height: 140px;
	margin: 0 5px;
}

nav ul li a {
	color: white;
	font-size: 18px;
	padding: 7px 13px;
	border-radius: 3px;
	text-transform: uppercase;
	text-decoration: none;
}

li a.active, li a:hover {
	background: rgb(88, 86, 86);
	transition: 0.5s;
}

.checkbtn {
	font-size: 30px;
	color: #fff;
	float: right;
	line-height: 140px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}

#check {
	display: none;
}

.titulo-cabecera {
	height: 200px;
	width: 100%;
	font-family: 'Times New Roman', Times, serif;
	font-size: 45px;
	line-height: 200px;
	color: rgb(85, 30, 8);
	margin: 20px 5px;
	padding: 20px;
}

.subtitulo {
	font-family: 'Times New Roman', Times, serif;
	font-size: 30px;
	color: rgb(85, 30, 8);
	display: block;
	text-align: justify;
	text-decoration: none;
	margin: 70px 10px 5px 20px;
}

.texto {
	font-family: 'Times New Roman', Times, serif;
	font-size: 15px;
	width: 90%;
	color: black;
	margin: 0px 0px 40px 20px;
	padding: 5px;
	text-decoration: none;
	text-align: left;
}

.enlaces {
	width: 100%;
	padding: 5px 5px 5px 5px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.img-cv {
	width: 300px;
	display: flex;
	justify-content: flex-end;
	margin: 40px 2px 40px 600px;
	background-color: antiquewhite;
}

.presupuesto {
	width: 300px;
	display: flex;
	justify-content: flex-start;
	margin: 40px 500px 40px 2px;
	background-color: antiquewhite;
}

.presupuesto2 {
	width: 300px;
	display: flex;
	justify-content: flex-end;
	margin: 40px 2px 40px 1600px;
	background-color: antiquewhite;
}

.pedi-presupuesto {
	width: 300px;
	display: flex;
	justify-content: center;
	background-color: antiquewhite;
	margin: 0 auto;
	padding: 100px 100px 100px 100px ;
}

footer {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	margin: 5px 5px 10px 5px;
	text-align:center;
	padding: 1px;
}

.coopyright {
	background: cadetblue;
	height: 80px;
	width: 100%;
	line-height: 80px;
	margin: 40px 0 0 0;
	text-transform: initial;
	text-decoration:underline;
	color: #fff;
	font-family: 'Courier New', Courier, monospace
}

.formulario-cv {
	background-color: antiquewhite;
	display: flex;
	width: auto;
	height: auto;
}

.contenedor-form {
	width: 100%;
	margin: 0px 5px 0px 200px;
	padding: 5px 5px 5px 5px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.texto-lista {
	font-family: 'Times New Roman', Times, serif;
	font-size: 20px;
	list-style:none;
	color: black;
	margin: 2px 5px 40px 60px;
	padding: 5px;
	text-decoration: none;
}

.contenedor-historia {
	width: 100%;
	margin: 0px 5px 0px 20px;
	padding: 5px 0px 5px 0px;
	display: grid;
	grid-template-columns: 1fr;
	background-image: url("../imagenes/quienessomos-personal600x400.jpg");
	background-size: contain;
	background-repeat: no-repeat;
}

.texto-historia {
	font-family: 'Times New Roman', Times, serif;
	font-size: 20px;
	width: 90%;
	color: black;
	margin: 0px 0px 40px 20px;
	padding: 5px;
	text-decoration: none;
}

.contenedor-beneficio {
	width: 100%;
	margin: 0px 5px 0px 120px;
	padding: 5px 0px 5px 0px;
	display: grid;
	grid-template-columns: 1fr;	
}

.contenedor-trato {
	width: 100%;
	margin: 0px 5px 0px 120px;
	padding: 5px 0px 5px 0px;
	display: grid;
	grid-template-columns: 1fr;
	background-image: url("../imagenes/imagen7.jpg");
	background-size: contain;
	background-repeat: no-repeat;
}

.margen {
	margin: 50px 0;
	padding: 10px 10px 10px 10px;
}

.contenedor-cv {
	display: flex;
	justify-content: flex-end;
	margin: 0px 0px 0px 300px;
}

@media (max-width: 952px){
	.checkbtn {
		display: block;
	}
	ul {
		position: fixed;
		width: 100%;
		height: 100vh;
		background: #2c3e50;
		top: 80px;
		left: 100%;
		text-align: center;
	}
	nav ul li {
		display: block;
		margin: 50px 0;
		line-height: 30px;
	}
	nav ul li a {
		font-size: 20px;
	}
	li a:hover, li a.active {
		background: none;
		color: red;
	}
	#check:checked ~ ul {
		left: 0;
		top: 140px;
	}
	#carouselExample {

	}
}