* {
	margin: 0;
	padding: 0;
}

body {
	background-color: antiquewhite;
}


.cabecera {
	width: 95%;
	max-width: 1960px;
	margin: 0px 5px 0px 5px;
	padding: 5px 5px 5px 5px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.logo {
	width: 200px;
	height: 100px;
	display: flex;
	justify-content: flex-start;
}

.certificado {
	width: 100px;
	margin: 0px 200px 0px 700px;
	display: flex;
	justify-content: center;
}

.envianoscv {
	width: 350px;
	height: 150px;
	display: flex;
	justify-content: flex-end;
	margin: 0px 0px 0px 300px;
}

.barranav {
	width: auto;
	height: auto;
	margin: 50px 0px 0px 0px;
	padding: 0;
}

.titulo-cabecera {
	font-family: 'Times New Roman', Times, serif;
	font-size: 45px;
	color: rgb(85, 30, 8);
	text-align: justify;
	text-decoration: underline;
	margin: 10px 5px 20px 5px;
	padding: 20px 20px 20px 20px;
}

.banner {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-size: cover;
	background-position: center;
}

nav a {
	font-size: 35px;
	text-align: center;
	display: block;
	color: darkred;
	background-color: rgb(190, 192, 180);
	padding: 10px;
	margin: 0;
	text-decoration: none;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav ul {    
    list-style:none;
    font-size: 0;
	padding: 0;
	border: 1px black solid;
}

nav li {
    display: inline-block; 
    width: 20%;
    position: relative;
}

nav a:active {
	color: red;
}

nav a:hover {
	background-color: white;
}

.subtitulo {
	font-family: 'Times New Roman', Times, serif;
	font-size: 30px;
	color: rgb(85, 30, 8);
	text-align: justify;
	text-decoration: none;
	margin: 30px 10px 5px 20px;
}

.texto {
	font-family: 'Times New Roman', Times, serif;
	font-size: 15px;
	width: 90%;
	color: black;
	margin: 0px 0px 40px 20px;
	padding: 5px;
	text-decoration: none;
}

.enlaces {
	width: 90%;
	max-width: 1960px;
	margin: 0px 5px 0px 5px;
	padding: 5px 5px 5px 5px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.img-cv {
	width: 300px;
	display: flex;
	justify-content: flex-end;
	margin: 40px 0px 40px 200px;
	background-color: antiquewhite;
}

.presupuesto {
	width: 300px;
	display: flex;
	justify-content: flex-start;
	margin: 40px 800px 40px 0px;
	background-color: antiquewhite;
}

.pedi-presupuesto {
	width: 300px;
	display: flex;
	justify-content: center;
	background-color: antiquewhite;
	margin: 0 auto;
	padding: 100px 100px 100px 100px ;
}

footer {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	margin: 5px 5px 10px 5px;
	text-align:center;
	padding: 1px;
}

.coopyright {
	width: 95;
	border: 1px black solid;
	background-color: rgb(190, 192, 180);
	text-align: center;
	margin: 10px 0 0 0;
	padding: 10px;
	text-transform: uppercase;
	text-decoration: none;
	font-family: 'Courier New', Courier, monospace
}

.formulario-cv {
	background-color: antiquewhite;
	display: flex;
	width: auto;
	height: auto;
}

.contenedor-form {
	width: auto;
	max-width: 1960px;
	margin: 0px 5px 0px 200px;
	padding: 5px 5px 5px 5px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.texto-lista {
	font-family: 'Times New Roman', Times, serif;
	font-size: 20px;
	list-style:none;
	color: black;
	margin: 2px 5px 40px 60px;
	padding: 5px;
	text-decoration: none;
}

.contenedor-historia {
	width: auto;
	max-width: 1960px;
	margin: 0px 5px 0px 20px;
	padding: 5px 0px 5px 0px;
	display: grid;
	grid-template-columns: 1fr;
	background-image: url("../imagenes/quienessomos-personal600x400.jpg");
	background-size: contain;
	background-repeat: no-repeat;
}

.texto-historia {
	font-family: 'Times New Roman', Times, serif;
	font-size: 20px;
	width: 90%;
	color: black;
	margin: 0px 0px 40px 20px;
	padding: 5px;
	text-decoration: none;
}

.contenedor-beneficio {
	width: auto%;
	max-width: 1960px;
	margin: 0px 5px 0px 120px;
	padding: 5px 0px 5px 0px;
	display: grid;
	grid-template-columns: 1fr;
	background-image: url("../imagenes/imagen6.webp");
	background-size: contain;
	background-repeat: no-repeat;
}

.contenedor-trato {
	width: auto;
	max-width: 1960px;
	margin: 0px 5px 0px 120px;
	padding: 5px 0px 5px 0px;
	display: grid;
	grid-template-columns: 1fr;
	background-image: url("../imagenes/imagen7.jpg");
	background-size: contain;
	background-repeat: no-repeat;
}

.margen {
	margin: 50px 0;
	padding: 10px 10px 10px 10px;
}

.contenedor-cv {
	display: flex;
	justify-content: flex-end;
	margin: 0px 0px 0px 300px;
}