$color-fondo-primario: antiquewhite;
$color-fondo-secundario: cadetblue;
$color-fondo-terciario: aliceblue;
$color-primario: rgb(85, 30, 8);
$color-negro: black;
$color-blanco: white;
$color-gris: rgb(88, 86, 86);