* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}
body {
	background-color: $color-fondo-primario;
	color: $color-primario;
	font-family: $fuente-primaria;
	padding: 0;
	margin: 0;
}
nav {
	background: $color-fondo-secundario;
	height: 100%;
	width: 100%;
	position: relative;
    ul {
        float: right;
        margin-right: 20px;
        li {
            display: inline-block;
            line-height: 140px;
            margin: 0 5px;
            a {
                color: $color-blanco;
                font-size: 18px;
                padding: 7px 13px;
                border-radius: 3px;
                text-transform: uppercase;
                text-decoration: none;
            }
            &active{
                background: $color-gris;
	            transition: 0.5s;
            }
            &hover{
                background: $color-gris;
	            transition: 0.5s;
            }
        }
    }
}
.enlace-navbar {
	position: absolute;
	padding: 20px 50px;
}
.presupuesto {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	display: flex;
	justify-content: center;
	align-content: center;
	margin: 100px 0 100px 100px;
	padding: auto 0;
	width: 250px; 
	height: 100px;
}
.img-cv {
	grid-column: 3 / 4;
	grid-row: 1 / 2;
	display: flex;
	justify-content: center;
	align-content: center;
	margin: 100px 0 100px 0;
	padding: auto 0;
	width: 250px; 
	height: 100px;
}
.coopyright {
	grid-column: 1 / 4;
	grid-row: 3 / 4;
	border: 3px $color-negro;
	display: flex;
	align-content: center;
	justify-content: center;
	line-height: 50px;
	background-color: $color-fondo-secundario;
	margin: 20px 0 0 0;
	text-transform: initial;
	text-decoration:underline;
	text-align:center;
	color: $color-blanco;
	font-family: $fuente-secundaria;
	padding: 15px;
}
.link-presupuesto {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	display: flex;
	justify-content: center;
	align-content: center;
	margin: 100px 0 100px 0;
	width: 250px; 
	height: 100px;
}
.card-body {
	font-family: $fuente-alternativa;
	color: $color-negro;
	background-color: $color-fondo-terciario;
}
.card-group {
	grid-column: 1 / 4;
	grid-row: 3 / 4;
}