.titulo-cabecera {
	display: flex;
	font-family: $fuente-primaria;
	font-size: 40px;
	color: $color-primario;
	align-content: center;
	justify-content: center;
	padding: 10px 2px;
}
.subtitulo {
	font-family: $fuente-primaria;
	font-size: 30px;
	color: $color-primario;
	text-align: start;
	text-decoration: underline;
	margin: 40px 20px 5px 20px;
	padding: 5px;
}
.texto {
	font-family: $fuente-primaria;
	font-size: 20px;
	color: $color-negro;
	text-align: start;
	margin: 5px 10px 40px 40px;
}
.titulo-formulario {
	display: flex;
	font-family: $fuente-primaria;
	font-size: 45px;
	color: $color-primario;
	align-content: center;
	justify-content: center;
	padding: 10px 2px;
	margin: 10px 0;
}
.titulo-cabecera-card {
	display: flex;
	font-family: $fuente-primaria;
	font-size: 40px;
	color: $color-primario;
	align-content: center;
	justify-content: center;
	padding: 10px 2px;
	margin: 30px 0;
	background-color: $color-fondo-primario;
}
.texto-historia {
	font-family: $fuente-primaria;
	font-size: 20px;
	color: $color-negro;
	margin: 0 40px 0 40px;
	text-decoration: none;
}
.texto-lista {
	font-family: $fuente-primaria;
	font-size: 15px;
	color: $color-negro;
	text-align: start;
}
.subtitulo-lista {
	font-family: $fuente-primaria;
	font-size: 25px;
	color: $color-negro;
	text-decoration: underline;
}